

/Acopter32-STM32F4/hardware/STM32_USB-Host-Device_Lib_V2.1.0
/Acopter32-STM32F4/Firmware/Test_USB/AP_Compass_test.xxx
/Acopter32-STM32F4/Firmware/Test_USB/Test_USB.cpp
/Acopter32-STM32F4/Firmware/Test_USB/Test_USB.xxx